.sidebar
{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 12em;
}
.sidebar-header
{
	border: 1px double blue;
}
.sidebar-content
{
	border: 1px double black;
}

.breadcrumbs
{
	background-color: #cccccc;
}