.sidebar
{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 12em;
}
.sidebar-header
{
	padding-left: 0.3em;

	border-top: 1px solid #565656;
	border-bottom: 1px solid #565656;
	background: #c0c0c0;
}
.sidebar-content
{
	background: #D0D0D0;
	border-bottom: 1px solid #565656;
	padding: 0.3em;
}

.breadcrumbs
{
	padding-left: 0.3em;
	padding-right: 0.3em;

	border-top: 1px solid #565656;
	border-bottom: 1px solid #565656;
	background: #c0c0c0;
}

