let res = 
{
	server:
	{
		host:			'localhost',
		port:			8080,

		ssl:
		{
			port:			8443,
			certificate:		absFile("../ssl/server.pem"),
			privateKey:		absFile("../ssl/server.pem"),
			tmpdh:			absFile("../ssl/dh512.pem"),
			password:		"test",
		},

		queueSize:		500,

		mimeTypes:		exec('mimeTypes.js'),
		compress:		exec('compress.js'),

		cronInterval:		1,

		keepaliveMax:		5,

		headerbufGranula:	0x1000,
		headerbufLimit:		0x10000,
		bodybufGranula:		0x10000,
		bodybufLimit:		0x800000,

		outbufGranula:		0x40000,
		
		staticDiectory: 	absDir('../www'),


		enableLastModified:	true,
		enableETag:		true,

		enableGzip:		true,
		enableDeflate:		true,
		
	},

	//staticDiectory:'../www',

	scriptDiectories:
	[
		absDir('../scripts'),
	],

	timeZoneSpec:absFile('date_time_zonespec.csv'),

	dbConnectionString:'________ HERE DATABASE CONNECTION STRING!!! ________',
	
	smtp:
	{
		host:'________ HERE SMTP HOST!!! ________',
		port:'________ HERE SMTP PORT!!! ________',
		//login:'________ HERE SMTP LOGIN!!! ________',
		//password:'________ HERE SMTP PASSWORD!!! ________',
	},
	
	adminEmail:'________ HERE ADMINISTRATOR EMAIL!!! ________',

	memory:
	{
		stackLimit:500000,
		gcNormalBytes: 30*1024*1024,
		cacheFlushPart:0.1,
		cacheAliveTime:1*60,
	},

	accesslog:'../logs/access',

	profiler:
	{
		accumuleRequests:4,
		log:'../logs/profiler',
		/*
			<own|childs|all>_(([avg_]<usr|sys|real>)|calls)[_%]
		*/
		fields:['own_real%', 'own_real', 'own_usr', 'own_calls', 'all_real', 'all_usr'],
		orderField:'own_real',
		linesAmount:20,

	}


};

return res;