body, html 
{
	margin:0px; 
	padding:0px;
}

.layout
{
	margin: 0 auto;
	width: 100%;
	min-width: 40em;
}
.layout-element
{
	margin:0px; 
	padding:0px;
}
.layout-header
{
	width: 100%;
	clear: both;
}
.layout-breadcrumbs
{
	width: 100%;
	clear: both;
}
.layout-centerall
{
	clear: both;
}
.layout-left
{
	float: left;
}
.layout-right
{
	float: right;
}
.layout-center
{
	overflow:hidden;
	zoom:1;
}
.layout-footer
{
	width: 100%;
	clear: both;
}
