body, html 
{
	margin:0px; 
	padding:0px;
}

.layout
{
	margin: 0 auto;
	width: 100%;
	min-width: 40em;
}
.layout-element
{
	margin:0px; 
	padding:0px;
}
.layout-header
{
	width: 100%;
}
.layout-breadcrumbs
{
	width: 100%;
	background-image: url('/bg/bg1.jpg');
	font: bold 110% serif;
}
.layout-left
{
	//width: 12em;
	float: left;
}
.layout-right
{
	//width: 12em;
	float: right;
}
.layout-center
{
	//margin-left: 12em;
    //margin-right: 12em;
}
.layout-footer
{
	width: 100%;
}
